services:
    # PostgreSQL 数据库
    db:
        image: postgres:17
        container_name: nextmall-postgres
        restart: always

        ports:
            - '5432:5432'
        environment:
            POSTGRES_DB: postgres
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        volumes:
            - postgres:/var/lib/postgresql/data
        healthcheck:
            test: ['CMD-SHELL', 'pg_isready -U postgres']
            interval: 10s
            timeout: 5s
            retries: 5

    adminer:
        image: adminer
        container_name: nextmall-adminer
        restart: always
        networks:
            - default
        depends_on:
            - db
        environment:
            - ADMINER_DESIGN=pepa-linha-dark
        ports:
            - '8081:8080'
    # Next.js 应用
    app:
        build:
            context: .
            dockerfile: Dockerfile
        container_name: nextmall-app
        restart: always
        ports:
            - '3000:3000'
        environment:
            - NODE_ENV=production
            # 优先使用.env文件中的DATABASE_URL，如果.env中没有则使用默认值
            - DATABASE_URL=${DATABASE_URL}
            - AUTH_SECRET=${AUTH_SECRET}
            - AUTH_URL=${AUTH_URL:-http://localhost:3000}
            - AUTH_TRUST_HOST=true
            - FIRST_SUPERUSER=${FIRST_SUPERUSER:-admin}
            - FIRST_SUPERUSER_PASSWORD=${FIRST_SUPERUSER_PASSWORD:-admin}
            - SMTP_FROM_NAME=${SMTP_FROM_NAME:-nextmall}
            - SMTP_HOST=${SMTP_HOST}
            - SMTP_USER=${SMTP_USER}
            - SMTP_PASS=${SMTP_PASS}
            - SMTP_PORT=${SMTP_PORT}
            - TITLE=${TITLE:-nextmall}
            - DESCRIPTION=${DESCRIPTION:-nextmall description}
        depends_on:
            db:
                condition: service_healthy
        volumes:
            - output:/app/output

volumes:
    postgres:
    output:

networks:
    default:
        driver: bridge
